<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.WhatsYourScore.apptive.apptive_score">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:hardwareAccelerated="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Second" />
        <activity android:name=".Fourth" />
        <activity android:name=".Fourth_listview" />
        <activity android:name=".Third" />
        <activity android:name=".Third_listview" />
        <activity android:name=".Fifth" />
        <activity android:name=".Final" />
        <activity android:name=".Final_first_listview" />
        <activity android:name=".Final_second_listview" />
        <activity android:name=".Final_third_listview" />
        <activity android:name=".Final_fourth_listview" />
        <activity android:name=".Final_first_fragment">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.androidhive.pushnotifications" />
            </intent-filter>
        </activity>
        <activity android:name=".Final_second_fragment" />
        <activity android:name=".Final_third_fragment" />
        <activity android:name=".Final_fourth_fragment" />
        <activity android:name=".Final_custom_titlebar" />
        <activity android:name=".Notice" />
        <activity android:name=".Add_box"/>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Credit" />
        <activity android:name=".Setting" />
        <activity android:name=".SettingNotice" />
    </application>

</manifest>